h1{
	color:navy;
	font-size:60px;
	font-family:magneto;
}
.para1{
	color:orange;
	font-size:25px;
	text-align:center;
	border:1.5px solid navy;
	background-color:navy;
}
h2{
	color:orange;
	font-size:25px;
	text-align:center;
	border:1.5px solid navy;
	background-color:navy;
}	
.para2{
	color:navy;
	font-size:20px;
	font-family:magneto;
}
h3{
	color:white;
	font-size:25px;
	text-align:center;
	border:1.5px solid navy;
	background-color:navy;
}	
.para3{
	font-size:25px;
}
h6{
	font-size:25px;
	background-color:gray;
}
a{
	color:white;
	font-size:20px;
	text-align:center;
	border:1.5px solid navy;
	background-color:navy;
	width:200px;
	height:20px;
}
	